force-app/main/default/flows/Advanced_Visit_Report_V3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ExtractSummary</name>
        <label>ExtractSummary</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>JsonSummaryExtractor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ResultProcessingLWC</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonInput</name>
            <value>
                <elementReference>Prompt.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>JsonSummaryExtractor</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Related_Names</name>
        <label>Get Related Names</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>VR_GetRelatedRecordsWithIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MetadataFetcher</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VR_GetRelatedRecordsWithIds</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MetadataFetcher</name>
        <label>MetadataFetcher</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>MetadataFetcher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>VoiceInput</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputJsonList</name>
            <value>
                <stringValue>{   &quot;Opportunity&quot;: [     &quot;Name&quot;,     &quot;CloseDate&quot;,     &quot;Amount&quot;,     &quot;Description&quot;,     &quot;ForecastCategoryName&quot;,     &quot;NextStep&quot;,     &quot;Probability&quot;,     &quot;LeadSource&quot;,     &quot;Type&quot;,     &quot;StageName&quot;   ],   &quot;Contact&quot;: [     &quot;Salutation&quot;,     &quot;FirstName&quot;,     &quot;LastName&quot;,     &quot;Email&quot;,     &quot;Title&quot;,     &quot;Department&quot;,     &quot;LeadSource&quot;,     &quot;Phone&quot;,     &quot;MobilePhone&quot;   ],   &quot;Task&quot;: [     &quot;OwnerId&quot;,     &quot;WhatId&quot;,     &quot;WhoId&quot;,     &quot;Subject&quot;,     &quot;ActivityDate&quot;,     &quot;Description&quot;,     &quot;Status&quot;,     &quot;Priority&quot;   ],   &quot;MD_HILTI_Event__c&quot;: [     &quot;MD_Subject__c&quot;,     &quot;MD_Result__c&quot;,     &quot;MD_Start__c&quot;,     &quot;MD_End__c&quot;,     &quot;MD_Related_Contacts__c&quot;,     &quot;MD_Related_Account__c&quot;,     &quot;Assigned_to__c&quot;,     &quot;Name&quot;,     &quot;MD_Description__c&quot;,     &quot;OwnerId&quot;   ] }</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MetadataFetcher</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Prompt</name>
        <label>Prompt</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>AdvancedV4</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>ExtractSummary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:RelatedRecordsNamesV2</name>
            <value>
                <elementReference>Get_Related_Names.commaSeparatedOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:TimeStamp</name>
            <value>
                <elementReference>Get_Related_Names.jsonOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Transcript</name>
            <value>
                <elementReference>LiveTranscript</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:RelatedRecordsJsonV2</name>
            <value>
                <elementReference>Get_Related_Names.jsonOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Metadata</name>
            <value>
                <elementReference>MetadataFetcher</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AdvancedV4</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Visit Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advanced Visit Report V3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ResultProcessingLWC</name>
        <label>ResultProcessingLWC</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SummaryRichText</name>
            <fieldText>&lt;p&gt;{!ExtractSummary.summary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Results</name>
            <extensionName>c:visitReportProcessingResult</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allObjectsOpen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>payload</name>
                <value>
                    <elementReference>Prompt.promptResponse</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordLayoutColumns</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordLayoutMode</name>
                <value>
                    <stringValue>view</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VoiceInput</name>
        <label>VoiceInput</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Prompt</targetReference>
        </connector>
        <fields>
            <name>VoiceRecorder</name>
            <extensionName>c:advancedAudioRecorder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>openaiKey</name>
                <value>
                    <stringValue>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</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LiveTranscript</assignToReference>
                <name>transcript</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Names</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LiveTranscript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
